body {
    background-image: url("../assets/images/mind-the-troll-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
}

/*------------Title------------------*/

h1 {
    color: gold;
    text-align: center;
    text-shadow: 0 6px 18px rgba(0, 0, 0, 0.55);
    font-size: 50px;
    font-weight: 1000;
    padding: 26px 18px 6px;
    animation: text-glow 2.5s forwards;
}

@keyframes text-glow {
    from {
        text-shadow: 0 0 6px rgba(255, 215, 0, 0.4);
    }

    to {
        text-shadow: 0 0 14px rgba(255, 215, 0, 0.9);
    }
}

/*--------------HUD-----------------*/

.hud-bar {
    background: rgba(0, 0, 0, 0.55);
    color: whitesmoke;
    backdrop-filter: blur(6px);
    border-radius: 16px;

    width:80%;
    margin-left: auto;
    margin-right: auto;
    padding: 9px 16px;

    display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
}

.hud-bar p {
    margin: 0;
}

.message {
    background: rgba(0, 0, 0, 0.55);
    color: whitesmoke;
    text-align: center;
    backdrop-filter: blur(6px);
    

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 16px;
    border-radius: 16px;
}

.message strong {
    color: red;
}

.btn {
    border: 0;
    padding: 8px 16px;
    border-radius: 12px;
    font-weight: 700;
    cursor: pointer;
}

/*--------Game Board---------*/

/* Center Game Area */
.game-area {
    display: flex;
    justify-content: center;
}

/* Create Board */
#board {
    width: 400px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    border-radius: 16px;
}

/* Create Card Container */
.card {
    width: 80px;
    height: 100px;
    background: gold;
    margin: 5px;
    display: inline-block;
    animation: card-glow 2.5s forwards;

   
    cursor: pointer;
}

@keyframes card-glow {
    from {
        box-shadow: 0 0 6px rgba(255, 215, 0, 0.4);
    }

    to {
        box-shadow: 0 0 14px rgba(255, 215, 0, 0.9);
    }







